.body{
  font-family: 'Montserrat', sans-serif;
}

.font1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color:white;

}

#title {
  background-color: #ff4c68;
padding-bottom: 10%;
position: relative;
z-index: -1;
}
.container-fluid {
  padding: 3% 15%;
}
.navbar {
  padding-bottom: 2.5%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 18px;
}

.pink{


}
.phone {
  width: 300px;
  transform: rotate(25deg);
position: absolute;


}


.fea {
  align-content: center;

  position: relative;

}
.pad{
  padding: 10% 20%;
  text-align: center;
}

.icon{

  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

.feature-heading{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.para {
  color: #8f8f8f;
}
.part3 {
  background-color:#ef8172;
  padding:5% 10%;
  text-align: center;
  color: #fff;
  position: relative;
}
.testtext{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 4rem
}
.testlogo{
  width: 15%;
  margin: 3%;
  margin-top: 5%
}
.photo{
  border-radius: 100%;
  width:30%;
}

.heading-text {
  text-align: center;
  padding: 2%;
}

.cards{
  padding-left: 2%;
  padding-right: 2%;
}
.card_text {
  text-align: center;
}
#features {
  position: relative;
  z-index: 1;
  background-color: white;

}

@media (max-width: 768px) {
  .phone{
    transform: rotate(360deg);
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 250px;
    z-index: 2;
    padding-top: 10%;
  }

  .pink{
    text-align: center;
  }
  .font1 {
    font-size: 2.5rem;
  }
}

.endBut {
  padding: 5%;
}

#cta{
  background-color: #ff4c68;
  text-align: center;
padding: 5% 10%;
}

#footer{
  padding: 5%;
text-align: center;





}

.pad2{
  padding: 2%;
}
